<div class="row">
    <section class="order-panel">
        <div class="col-md-12">
            <img src="gfx/logo.png">
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <order-form></order-form>
                </div>
                <div class="col-md-6 col-xs-6">
                    <product-selector></product-selector>
                </div>
            </div>
        </div>
    </section>
    <section class="order-footer">
        <div class="col-md-8">
            <terms-and-conditions></terms-and-conditions>
        </div>
        <div class="col-md-3">
            <order-summary></order-summary>
        </div>
        <div class="col-md-1">
            <img src="gfx/red-button.png">
        </div>
    </section>
</div>