<div class="table-responsive table-order">
    <table class="table table-condensed">
        <caption>{{'YOUR_ORDER' | translate}}</caption>
        <tbody>
            <tr ng-repeat="product in products track by product.id">
                <td class="text-right">
                    {{product.name}}
                </td>
                <td>
                    ${{product.price}}
                </td>
            </tr>
            <tr class="order-total">
                <td class="text-right">
                    {{'TOTAL' | translate}}
                </td>
                <td>
                    ${{order.total}}
                </td>
            </tr>
        </tbody>
    </table>
</div>